main {
  margin: auto;
  width: var(--main-width);
  max-width: var(--main-max-width);
}

h1 {
  text-align: center;
}

.list {
  border-radius: var(--border-radius);
  margin-top: calc(var(--global-padding) * 2);
}

.headers,
.item {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-rows: auto;
  padding: calc(var(--global-padding) * 2) var(--global-padding);
  grid-template-columns: repeat(12, var(--colums-size));
}

.headers {
  cursor: default;
  overflow: hidden;
  font-weight: bold;
  scroll-behavior: smooth;
  margin-bottom: var(--global-padding);
  box-shadow: 0px 5px 10px var(--light-gray);
}

.items {
  overflow: auto;
  box-shadow: 0px 5px 10px var(--light-gray);
}

.items:not(:empty) .loading {
  display: none;
}
