@media only screen and (min-width: 720px) {
  :root {
    --num-cards: 2;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --num-cards: 3;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --num-cards: 4;
  }
}
