:root {
  --black: #262626;
  --white: #fff;
  --red: #ed5355;
  --blue: #193847;
  --gray: #858585;
  --orange: #ee8d38;
  --light-blue: #26566e;
  --light-gray: #b9b9b9;
  --light-gray-4: rgba(185, 185, 185, 0.4);
  --white-6: hsla(0, 0%, 100%, 0.6);

  --main-width: 90%;
  --main-max-width: 1400px;

  --color-border: var(--light-gray);
  --border-radius: 10px;
  --paragraph-color: #4a4a4a;

  --colums-size: 90px;
  --colums-number: 13;
  --global-padding: 10px;
  --global-font-size: 12px;
  --global-box-shadow: 0px 5px 10px var(--light-gray);
  --global-modal-width: calc(100% - (var(--global-padding) * 2));
}
