:root {
  --black: #262626;
  --white: #fff;
  --red: #ed5355;
  --blue: #193847;
  --gray: #858585;
  --orange: #ee8d38;
  --light-blue: #26566e;
  --light-gray: #b9b9b9;
  --light-gray-4: rgba(185, 185, 185, 0.4);
  --white-6: hsla(0, 0%, 100%, 0.6);

  --main-size: 90%;

  --color-border: var(--light-gray);
  --border-radius: 10px;
  --paragraph-color: #4a4a4a;

  --global-padding: 10px;
  --global-font-size: 16px;
}
